* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

/* About Team */
.aboutteam .container {
  display: flex;
  flex-direction: column;
  padding: 50px 7%;
  gap: 50px;
}

.wall {
  padding-top: 80px;
  background-image: url("../asset/nimura-daisuke-01.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
}
.wall img {
  z-index: -1;
}
.anggota {
  display: flex;
  background-color: rgb(255, 195, 0, 0.4);
  border-radius: 20px;
  height: 200px;
  align-items: flex-start;
  padding: 50px;
  justify-content: center;
  gap: 15px;
}
.anggota .profil {
  width: 30%;
  padding: 10px;
  align-items: center;
  text-align: center;
}
.anggota .sosial {
  width: 30%;
}
.anggota .sosial .logo {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.anggota .deskripsi {
  width: 80%;
  align-items: center;
}
.anggota img {
  height: 180px;
}
.anggota .sosial img {
  height: auto;
  width: 40px;
}
.anggota .sosial li {
  list-style: none;
  align-items: center;
}
.anggota p {
  padding-top: 20px;
}
.anggota h4 {
  color: #003566;
}

/* footer*/
.bawah {
  height: 200px;
  background-color: #ff5964;
  text-align: center;
  padding: 50px 7%;
}

.logo-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 7%;
  max-height: 40vh;
}

.logo-footer a img {
  height: auto;
  width: 80px;
  left: 100px;
  right: 100px;
}

/* Responsive Breakpoint*/

/*Ukuran Breakpoint*/
@media screen and (max-width: 630px) {
  nav ul {
    width: 40%;
  }
  .anggota {
    flex-direction: column;
    height: auto;
    padding: 30px;
  }
  .anggota .profil {
    align-items: center;
    width: 100%;
  }
  .anggota .deskripsi {
    width: 100%;
  }
  .anggota .deskripsi h2 {
    font-size: 20px;
    text-align: center;
  }
  .anggota .deskripsi h4 {
    font-size: 14px;
    text-align: center;
  }
  .anggota .deskripsi p {
    font-size: 12px;
    text-align: justify;
  }
  .anggota .sosial {
    width: 100%;
    text-align: center;
  }
  .anggota .sosial .logo {
    justify-content: center;
  }
}
