* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

/* About Team */
.aboutteam .container {
  display: flex;
  flex-direction: column;
  padding: 50px 7%;
  gap: 50px;
}

.wall {
  padding-top: 80px;
  background-image: url("../asset/nimura-daisuke-01.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  text-align: center;
}
.wall img {
  z-index: -1;
}
.anggota {
  display: flex;
  /* margin: 80px; */
  background-color: rgb(255, 195, 0, 0.4);
  border-radius: 20px;
  height: 300px;
  align-items: center;
  padding-inline: 50px;
}

.anggota img {
  padding-right: 30px;
  height: 180px;
}

.anggota p {
  padding-top: 20px;
}

/* footer*/
.bawah {
  height: 200px;
  background-color: #ff5964;
  text-align: center;
  padding: 50px 7%;
}

.logo-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 7%;
  max-height: 40vh;
}

.logo-footer a img {
  height: auto;
  width: 80px;
  left: 100px;
  right: 100px;
}

/* Responsive Breakpoint*/

/*Ukuran Breakpoint*/
@media screen and (max-width: 768px) {
  nav ul {
    width: 40%;
  }
}
