* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

.content {
  min-height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
}
.kotak1 {
  height: 300px;
  width: 100%;
  top: 60px;
  background-color: #ffe74c;
  text-align: center;
}
.kotak1 h1 {
  margin-top: 80px;
}
.layanan {
  padding: 10px 7%;
  width: 86%;
  align-items: center;
  justify-content: center;
}
.layanan .isi {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  z-index: 2;
  padding-top: -50px;
  padding: 15px 7%;
  min-height: 500px;
  margin-top: -100px;
  width: 86%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*dashboard 2*/

.layanan .left-dash2 {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 3em; */
  width: auto;
}
.layanan .text1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  background-color: #ffe74c;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  stroke: none;
  width: 202px;
  height: auto;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
.layanan .text1 button {
  width: 150px;
  padding: 5px 10px;
  background-color: #003566;
  border: none;
  border-radius: 5px;
  color: white;
}
.layanan .center-dash2 {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 3em; */
}

.percentage {
  height: 100%;
  background-color: #4caf50;
  width: 0;
}

.layanan .right-dash2 {
  display: flex;
  flex-direction: column;
  /* padding: 2rem 3em; */
}

.layanan img {
  width: 200px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* =================== */
.form-group {
  margin-bottom: 15px;
}
.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-input {
  width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.form-button {
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  cursor: pointer;
}
.form-button:hover {
  background-color: rgb(3, 99, 3);
}

/* footer */
.footer {
  max-height: 80vh;
}
.bawah {
  height: 200px;
  /* width: 100%; */
  background-color: #ff5964;
  text-align: center;
  padding: 50px 7%;
  margin-top: -50px;
  padding-bottom: 10px;
}

.logo-footer {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 7%;
  max-height: 40vh;
}

.logo-footer a img {
  height: auto;
  width: 80px;
  /* left: 100px;
    right: 100px; */
}

/* ========== RESPONSIVE PAGE ============== */

/*ukuran mobile*/
@media screen and (max-width: 630px) {
  nav ul {
    width: 50%;
  }

  .layanan {
    padding: 0;
    width: 100%;
  }
  .layanan .left-dash2 {
    padding: 10px;
  }
  .layanan .center-dash2 {
    padding: 10px;
  }
  .kotak1 h1 {
    font-size: 25px;
  }
  .kotak1 p {
    font-size: 12px;
  }
}
