* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #000;
}

/* 
Warna Biru = #003566
Warna Kuning = #ffe74c
*/

/*dashboard 1*/
.wrapper-dash1 {
  margin: none;
  display: flex;
  align-items: center;
  padding: 40px 7%;
  min-height: 100vh;
  /* background-image: url("dash1bg.png"); */
}

.left-dash1 {
  padding-top: 80px;
  align-items: center;
  width: 90%;
  gap: 10px;
}
.right-dash1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.right-dash1 img {
  width: 300px;
}
.left-dash1 h1 span {
  color: #003566;
}

/* =======  dashboard 2 start ========== */

.layanan-container h1 {
  text-align: center;
}
.layanan-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 10px 7%;
  min-height: 100vh;
  border-top: 1px solid grey;
  gap: 20px;
}
.layanan-container .line {
  margin-left: 25%;
  margin-right: 25%;
}
.layanan-container h4:nth-child(1) {
  border-bottom: 3px solid #003566;
  padding: 10px;
  width: auto;
  margin-left: 200px;
  margin-right: 200px;
}
.layanan-container h4:nth-child(2) {
  border-bottom: 3px solid #003566;
  padding: 10px;
  text-align: center;
}
.layanan-container h4:nth-child(3) {
  border-bottom: 3px solid #003566;
  padding: 10px;
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
}
.layanan-container .layanan {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 7%;
  flex-wrap: wrap;
}

.layanan .left-dash2 {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.layanan .center-dash2 {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.layanan .right-dash2 {
  display: flex;
  flex-direction: column;
  /* padding: 3rem 3em; */
  width: 200px;
}

.layanan img {
  height: auto;
  width: 200px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 3px 2px 2px 2px grey; */
}

.layanan button {
  background-color: #ffe74c;
  border: 1px solid grey;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 3px 2px 2px 2px grey; */
  stroke: none;
  width: 202px;
  height: 60px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
}
/* dashboard 2 end */

/* dashboard 3 start*/

.check-up {
  display: flex;
  background-color: #ffe74c;
  padding: 70px 7%;
  max-height: 100vh;
  /* padding-left: 200px; */
}

.check-up .left {
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.check-up .left img {
  height: auto;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.check-up .right {
  align-items: center;
  text-align: justify;
  padding: 10px;
  width: 100%;
}

.section-dash3 h1 {
  text-align: center;
  padding-bottom: 20px;
}

.section-dash3 p {
  padding-bottom: 20px;
}

.check-up button {
  cursor: pointer;
  /* height: 50px; */
  /* width: 110px; */
  padding: 15px 20px;
  background-color: #003566;
  border-radius: 20px;
  color: #ffffff;
  size: auto;
  border: none;
  float: right;
}
.check-up button:hover {
  background-color: #001b35;
}
/* .check-up p {
    
} */

/* dashboard 4*/
.artikel-container {
  text-align: center;
  padding-top: 30px;
  min-height: 100vh;
}

.news {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 7%;
  padding-top: 30px;
  /* padding: 3rem 1em; */
  /* margin-left: 40px;
  margin-right: 40px; */
}
.news .artikel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.news img {
  width: 300px;
  border-radius: 15px;
  /* padding: 20px; */
}
.news .artikel .left {
  width: 300px;
  /* background-color: #ffe74c; */
  background-color: #fff;
  /* border: 1px solid grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0px 3px 2px 1px grey; */
  border-radius: 25px;
  height: 400px;
  cursor: pointer;
  padding: 20px;
}

.news .artikel .center {
  width: 300px;
  height: fit-content;
  /* background-color: #ffe74c; */
  background-color: #fff;
  /* border: 1px solid grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0px 3px 2px 1px grey; */
  border-radius: 25px;
  height: 400px;
  cursor: pointer;
  padding: 20px;
}

.news .artikel .right {
  width: 300px;
  /* background-color: #ffe74c; */
  background-color: #fff;
  border-radius: 25px;
  /* border: 1px solid grey; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* box-shadow: 0px 3px 2px 1px grey; */
  height: 400px;
  cursor: pointer;
  padding: 20px;
}

.news h4 {
  /* padding-left: 65px;
  width: 300px;  */
  text-align: center;
}

.news p {
  text-align: justify;
  font-size: 15px;
}
.news .more {
  align-items: center;
  padding: 30px;
  padding-right: 0;
}
.news .more .tx {
  font-weight: 700;
}
.news .more button {
  cursor: pointer;
  height: 40px;
  width: 100px;
  background-color: #003566;
  border-radius: 10px;
  color: #ffffff;
  size: auto;
  border: none;
  float: right;
  align-items: center;
  /* margin-right: 120px; */
}
.news .more button:hover {
  background-color: #011c36;
}

/* dashboard 5 User Story*/

.section-dash5 {
  min-height: 100vh;
}

.section-dash5 .atas {
  height: 300px;
  background-color: #ffe74c;
  align-items: center;
  text-align: center;
  padding: 30px 7%;
}

.section-dash5 .story {
  min-height: 100vh;
  margin-top: -150px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 2;
  padding-bottom: 50px;
}
.section-dash5 .card {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 250px;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-top-left-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 350px;
  cursor: pointer;
  padding: 10px;
  text-align: justify;
}

.section-dash5 h1 {
  text-align: center;
  margin-bottom: 10px;
}

.section-dash5 p {
  text-align: center;
}

.section-dash5 img {
  width: 100px;
  height: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-left: 100px; */
  height: 100px;
  border-radius: 50%;
  padding: 2rem 1em;
}

.section-dash5 .story h4 {
  font-size: 20px;
  /* padding: 1rem 1em;
  width: 300px; 
  text-align: center; */
}

.section-dash5 .story p {
  padding: 1rem 1em;
  /* width: 300px; */
  text-align: justify;
  font-size: 14px;
}

.section-dash5 button {
  float: right;
  margin-right: 120px;
  width: 150px;
  height: 50px;
  background-color: #003566;
  border-radius: 25px;
  color: #ffffff;
  cursor: pointer;
}

/* ============== dashboard 6 ============ */

.section-dash6 {
  min-height: 100vh;
  padding: 20px 7%;
  align-items: center;
  border-top: 1px solid grey;
}
.section-dash6 .dash6-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.section-dash6 .kontak-kami {
  height: 500px;
  width: 40%;
  /* padding-top: 100px; */
}

.section-dash6 .left img {
  width: 30px;
  float: left;
}

.section-dash6 .left h4 {
  padding: 0px;
}
.section-dash6 .right {
  height: auto;
  width: 60%;
}
.section-dash6 .kontak {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 10px;
  gap: 20px;
}

.form-group {
  margin-bottom: 15px;
}
.form-group-btn {
  text-align: right;
}
.form-label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.feedback-form button {
  background-color: #003566;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 80px;
  cursor: pointer;
}
.feedback-form button:hover {
  background-color: rgb(3, 99, 3);
}

.feedback-form textarea {
  padding-top: 10px;
}
.form-button {
  background-color: #155188;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  cursor: pointer;
}
.form-button:hover {
  background-color: #032341;
}

/* =============== FOOTER ============= */
.footerr .foot-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 7%;
  height: 200px;
  background-color: #ff5964;
  gap: 20px;
}

.footerr .foot-content .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.footerr .text {
  text-align: center;
  align-items: center;
}
.footerr .logo a img {
  height: auto;
  width: 80px;
}

/* =========== Responsive Breakpoint ============ */

/*Ukuran Tablet*/
@media screen and (max-width: 900px) {
  nav ul {
    width: 40%;
    font-size: 12px;
  }
}

/*ukuran mobile*/
@media (max-width: 630px) {
  html {
    font-size: 62.5%;
  }

  /* Dashboard 1 */
  .wrapper-dash1 {
    display: block;
  }
  .left-dash1 h1 {
    font-size: 20px;
  }
  .left-dash1 {
    font-size: 12px;
    font-weight: 400;
    text-align: justify;
  }
  .wrapper-dash1 .right-dash1 {
    justify-content: center;
    align-items: center;
  }
  /* Dashboard 2 Layanan */

  .layanan-container {
    min-height: 100vh;
  }
  .layanan-container .layanan {
    /* display: flex; */
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    align-items: center;
  }
  /* Cek Diabetes */
  .check-up {
    display: block;
  }
  .check-up .left img {
    width: 70%;
    border-radius: 15px;
  }
  .check-up .right h1 {
    font-size: 20px;
  }
  .check-up .right p {
    font-size: 12px;
  }
  .check-up .right button {
    font-size: 12px;
  }
  /* Diabetes News */
  .artikel-container h1 {
    font-size: 20px;
  }
  .news .artikel {
    justify-content: center;
    gap: 30px;
  }

  /* User Story */
  .container-dash5 {
    min-height: 100vh;
  }
  .container-dash5 .atas h1 {
    font-size: 20px;
  }
  .container-dash5 .atas p {
    font-size: 14px;
  }
  .container-dash5 .story {
    align-items: center;
    gap: 30px;
  }

  /* Feedback Form */
  .section-dash6 .dash6-container {
    display: flex;
    flex-direction: column;
  }
  .dash6-container .kontak-kami {
    padding-top: 20px;
    height: auto;
    margin-bottom: 50px;
  }
  .dash6-container .left h1 {
    font-size: 20px;
  }
  .dash6-container .right {
    width: 100%;
  }
  .dash6-container .right h1 {
    font-size: 20px;
  }
  .dash6-container .right p {
    font-size: 12px;
    text-align: justify;
  }
}
